/* reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    hanging-punctuation: first allow-end last;
    font-size: 20px;
}

/* variables */
:root {
    /*--theme-color-1: #555b6e;
    --theme-color-2: #89b0ae;
    --theme-color-3: #bee3db;
    --theme-color-4: #faf9f9;
    --theme-color-5: #ffd6ba;
*/
    --theme-color-1: #FBF1C7;
    --theme-color-2: #3C3836;
    --theme-color-3: #D65D0E;
    --theme-color-4: #D79921;
    --theme-color-5: #458588;
    --theme-color-6: #002B36;
}

/* fonts */
@font-face {
    font-display: swap;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/lato-v25-latin-regular.woff2") format("woff2");
}

a {
    color: var(--theme-color-1);
    text-decoration: underline;
}

body {
    color: var(--theme-color-6);
    font-family: "Lato", sans-serif;
}

.wrapper {
  background-color: var(--theme-color-6);
}

.inner {
    background-color: var(--theme-color-6);
    min-height: 100vh;
    color: var(--theme-color-4);
    padding: 10px;
}

header {
    text-align: center;
    overflow: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.me > h1,
.experiments > h1 {
    color: var(--theme-color-3);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

nav {
    max-width: 740px;
    margin: 10px auto;
    color: var(--theme-color-4);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0;
    padding: 0;
    margin: 0;
}

nav a {
  display: inline-block;
  padding: 5px 20px 5px 15px;
  background-color: var(--theme-color-3);
  color: var(--theme-color-1);
  text-decoration: none;
}

nav li:nth-child(1) a {
  border-radius: 999px 0 0 999px;
  clip-path: polygon(0% 0%, calc(100% - 15px) 0%, 100% 50%, calc(100% - 15px) 100%, 0% 100%);
}

nav li:nth-child(2) a {
  clip-path: polygon(0% 0%, calc(100% - 15px) 0%, 100% 50%, calc(100% - 15px) 100%, 0% 100%, 15px 50%);
  background-color: var(--theme-color-4);
  padding: 5px 20px 5px 20px;
}

nav li:nth-child(3) a {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 15px 50%);
  background-color: var(--theme-color-5);
  padding: 5px 20px 5px 20px;
  border-radius: 0 999px 999px 0;
}

nav li a:hover {
  background-color: var(--theme-color-2);
  color: var(--theme-color-1);
}

img {
    max-width: 100%;
    height: fit-content;
}

img.alignleft {
    float: left;
    margin-right: 20px;
}

img.aligncenter {
    display: block;
    margin: 0 auto;
}

p {
    margin-bottom: 1rem;
}

.devlog {
    max-width: 740px;
    margin: 20px auto;
    padding: 10px;
    color: var(--theme-color-1);
}

.devlog article {
    margin-bottom: 30px;
}

.devlog .title {
    display: inline-block;
    font-weight: bold;
}

.devlog .title a {
  display: inline;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 5px 15px;
  background-color: var(--theme-color-3);
  color: var(--theme-color-1);
  text-decoration: none;
  line-height: 2.2;
  border-radius: 999px;
}

.devlog .date {
  display: inline-block;
  color: var(--theme-color-1);
  font-size: 0.7em;
  background-color: var(--theme-color-2);
  border-radius: 999px;
  padding: 5px;
}

.devlog .summary {
  margin-top: 10px;
}

.post-header {
    max-width: 740px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    color: var(--theme-color-3);
}

.post-header .title {
    font-size: 1.5rem;
}

.post-header .date {
  display: inline-block;
  color: var(--theme-color-1);
  background-color: var(--theme-color-2);
  border-radius: 999px;
  padding: 10px;
  font-size: 0.8em;
  margin-top: 10px;
}

.post {
    max-width: 740px;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    color: var(--theme-color-1);
}

.post a {
  color: var(--theme-color-3);
}

.post ol,
.post ul {
  list-style-position: inside;
  margin-bottom: 1rem;
}

.post li {
  margin-bottom: 10px;
}

.post li::marker {
  color: var(--theme-color-3);
}

.experiments {
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.experiments a {
  color: var(--theme-color-4);
}

.experiment-card {
    background-color: var(--theme-color-2);
    padding: 15px;
    border-radius: 8px;
}

.experiment-card h2 {
  text-align: center;
    color: var(--theme-color-4);
    margin-bottom: 10px;
    font-size: 1.17rem;
}

.experiment-card img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.experiment-card p {
    color: var(--theme-color-1);
}

.me {
    max-width: 740px;
    margin: 20px auto;
    padding: 10px;
    color: var(--theme-color-1);
}

.me a {
  color: var(--theme-color-5);
}

@media (max-width: 600px) {
    .experiments {
        grid-template-columns: 1fr;
    }
}
